@model PostResponse
@{
    ViewData["Title"] = "View";
}

<h2>
    5. Obtain the following structure (pass Post Id to parameters)
</h2>
<h5>
    Post
    <br />
    The longest comment of the post
    <br />
    The most liked comment on the post
    <br />
    Number of comments under the post where or 0 likes or text length < 80
</h5>
<form class="form" id="searchForm" action="@Url.Action("Query5", "Queries")" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-10">
                <label for="postId" class="sr-only">Get Post Count</label>
                <input type="number" class="form-control" id="postId" placeholder="Post Id" name="postId" required>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2">
                <input type="submit" class="btn btn-block btn-success" value="Search" />
            </div>
        </div>
    </div>
</form>

@if (Model != null)
{
    <table>
        <tr>
            <td>The longest comment of the post </td>
        </tr>
        @if (Model.TheBiggestComment != null)
        {
        <tr>
            <td>@Model.TheBiggestComment.CreatedAt</td>
            <td>@Model.TheBiggestComment.Body</td>
            <td>@Model.TheBiggestComment.Likes likes</td>
        </tr>
        }
        @if (Model.TheMostLikedComment != null)
        {
        <tr>
            <td>The most liked comment on the post </td>
        </tr>
        <tr>
            <td>@Model.TheMostLikedComment.CreatedAt</td>
            <td>@Model.TheMostLikedComment.Body</td>
            <td>@Model.TheMostLikedComment.Likes likes</td>
        </tr>
        }
        <tr><td>Number of comments under the post where or 0 likes or text length < 80</td></tr>
        <tr><td>@Model.QuantityOfNeededComment</td></tr>
    </table>
}

