@model SocialNetworkMVC.Models.User

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>User</h4>
    <hr />
    <table>
        <tr>
            <td><img src=" @Html.DisplayFor(model => model.Avatar)" /></td>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.CreatedAt)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </table> 
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
