@model List<SocialNetworkMVC.Models.Post>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>Post</h4>
    <hr />
    <tr>
        <th>Id</th>
        <th>Created At</th>
        <th>Title</th>
        <th>Body</th>
        <th>Likes</th>
        <th>Comments</th>
    </tr>
    @foreach (var post in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => post.Id)</td>
        <td>@Html.DisplayFor(model => post.createdAt)</td>
        <td>@Html.DisplayFor(model => post.Title)</td>
        <td>@Html.DisplayFor(model => post.Body)</td>
        <td>@Html.DisplayFor(model => post.Likes)</td>
        <td>@Html.DisplayFor(model => post.Comments.Count())</td>
    </tr>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
