@model List<SocialNetworkMVC.Models.Post>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>Post</h4>
    <hr />
    <tr>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().Id)</th>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().createdAt)</th>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().Title)</th>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().Body)</th>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().Likes)</th>
        <th>@Html.DisplayNameFor(model => Model.FirstOrDefault().Comments.Count())</th>
    </tr>
    @foreach (var post in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => post.Id)</td>
        <td>@Html.DisplayFor(model => post.createdAt)</td>
        <td>@Html.DisplayFor(model => post.Title)</td>
        <td>@Html.DisplayFor(model => post.Body)</td>
        <td>@Html.DisplayFor(model => post.Likes)</td>
        <td>@Html.DisplayFor(model => post.Comments.Count())</td>
    </tr>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
