@model SocialNetworkMVC.Models.Post

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>Post</h4>
    <hr />
    <table>
        <tr>
            <th>Id</th>
            <th>Created At</th>
            <th>Title</th>
            <th>Body</th>
            <th>Likes</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.createdAt)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Body)</td>
            <td>Likes :  @Html.DisplayFor(model => model.Likes)</td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
